@import './reset.css';

.ir{
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

body{
    background-color: whitesmoke;
}

.img-item{
    display: block;
}

.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    padding-top: 247px;
    font-family: 'Noto Sans KR', sans-serif;
}

.app .vending-machine{
    padding: 31px 27px 28px; 
    border-radius: 5px;
}

.app .vending-machine, .my-info{
    width: 360px;
    height: auto;
    background-color:rgb(226, 217, 217);
    box-sizing: border-box;
}

.app .tit-app{
    top:0;
    width: 100%;
    max-width: 450px;
    height:180px;
    background: no-repeat center/ 100% 100% url(/src/images/logo.png);
}

/* section1 */
.vending-machine .list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.vending-machine .list-item li{
    position: relative;
    width: 30%;
    height: 130px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.vending-machine .list-item li:active::before{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 3px solid rgb(156, 173, 215);
    border-radius: 10px;
    box-sizing: border-box; /* 보더의 값도 넓이에 포함시키기 위해*/
}

.vending-machine .list-item li.sold-out::before{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: no-repeat center/ 58px 45px url(/src/images/Sold-out.png) rgba(0, 0, 0, 0.8);
}

.vending-machine .list-item li.sold-out{
    pointer-events: none;
}

.vending-machine .list-item li:nth-child(3)~li{
    margin-top: 12px;
}

.vending-machine .btn-item{
    display: block;
    width:100%;
    height:100%;
    border: 1px solid #bdbdbd;
}

.vending-machine .list-item .img-item{
    width: 36px;
    height: 65px;
    margin: 0 auto;
}

.vending-machine .list-item .tit-item{
    display: block;
    font-size: 9px;
    margin: 6px 0 7px;
}

.vending-machine .list-item .txt-price{
    font-size: 12px;
    padding: 5px 16px 5px;
    border-radius: 50px;
    background-color: rgb(213, 192, 192);
    color: #FFF;
    display: inline-block;
}

.container1, .container2, .container3{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

/* 컨테이너123 좌 */
.info-balance, .input-put, .list-item-staged{
    width: 65%;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 컨테이너123 - 우 */
.btn-return, .btn-put, .btn-get{
    width:30%;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background-color: rgb(213, 192, 192);
    color: #FFF;
}

.vending-machine .container1{
    margin-top: 20px;
}

/* 컨테이너1 - 좌 */
    .container1 .info-balance{
        overflow: hidden;
        padding: 6px 10px;
        font-size: 13px;
        background-color: rgb(213, 192, 192);
        color: rgb(218, 208, 208)#FFF;
    }
    .info-balance .txt-balance{
        float: right;
    }

/* 컨테이너2 - 좌 */
    .container2 .input-put{
        padding: 6px 6px 7px;
        border: 1px solid #bdbdbd;
    }

/* 컨테이너3 - 좌 */
    .container3 .list-item-staged{
        height: 106px;
        overflow-y: scroll;
        padding: 12px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        background-color: rgb(213, 192, 192);
    }

    .list-item-staged li{
        overflow: hidden;
        padding: 6px 8px 7px 10px;
        background-color: #FFF;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .list-item-staged li+li{
        margin-top:6px;
    }

    .list-item-staged .img-item, .list-item-staged .txt-item{
        float:left;
    }
    
    .list-item-staged .img-item{
        width: 18px;
        height: 33px;
    }

    .list-item-staged .txt-item{
        margin-left:10px;
        font-size: 9px;
        line-height: 33px;
    }

    .list-item-staged .num-counter{
        display: flex;
        float: right;
        width: 30px;
        height: 30px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }

/* section2 */
    .app .my-info{
        background-color: rgb(226, 217, 217);
        border-radius: 5px;
    
    }

    .my-info .container4{
        padding:9px 27px;
        background-color: rgb(226, 217, 217);
        border-radius: 5px;
    }
    
    
    .container4 .info-mymoney{
        padding: 6px 10px;
        background-color: rgb(213, 192, 192);
        border-radius: 5px;
    }
    
    info-mymoney .txt-mymoney{
        float:right;
        font-weight: 700;
    }
    
    .my-info .container5{
        margin-top: 20px;
        padding: 25px 27px 26px;
        background-color: rgb(226, 217, 217);
        border-radius: 5px;
    }
    
    .container5 .tit-myitem{
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 13px;
        line-height: 20px;
    }
    
    .container5 .list-item-staged{
        overflow-y: scroll;
        height:364px;
        width: 306px;
        padding: 12px;
        background-color: rgb(213, 192, 192);
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .container5 .txt-total{
        display: block;
        font-size: 12px;
        line-height: 17px;
        text-align: right;
        margin-top: 6px;
    }

    /* 미디어 쿼리 */
    @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2)
    {
        body{
            background-color: #FFF;
        }

        .app{
            padding-top:65px;
        }

        .app .tit-app{
            width: 166px;
            height: 71px;
        }

        .my-info .container5{
            margin-top: 0;
        }
    }